.navbar {
  background-color: var(--nav-bg-color);
  height: 70px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .title-container {
  color: var(--nav-text-color);
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.navbar .title-container .mobile-toggle {
  display: none;
}

.navbar .nav-container {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.navbar .nav-container .nav-items {
  color: var(--nav-text-color);
  font-weight: 500;
  font-size: 1.5rem;
}

.navbar .nav-container .nav-items a:link,
.navbar .nav-container .nav-items a:visited {
  display: inline-block;

  transition: all 0.15s ease-in-out;
}

.navbar .nav-container .nav-items a:hover {
  color: #fff;
  transform: translateY(-5%) scale(1.1);

  transition: all 0.15s ease-in-out;
}

.navbar .nav-container .nav-items a:active {
  display: inline-block;
  transform: translateY(3%) scale(1.1);

  transition: all 0.15s ease-in-out;
}

@media (max-width: 1128px) {
  .navbar {
    padding: 0 20px;
  }

  .navbar .title-container {
    font-size: 2rem;
  }

  .navbar .nav-container {
    gap: 30px;
  }

  .navbar .nav-container .nav-items {
    font-size: 1.4rem;
  }
}

@media (max-width: 950px) {
  .navbar {
    background-color: #fff;
    padding: 0;
    height: auto;
    flex-direction: column;
    justify-content: center;
  }

  .navbar .title-container {
    background-color: var(--nav-bg-color);

    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
  }

  .navbar .title-container .mobile-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 15%;
    height: 40px;
    padding: 0 0 0 5%;
  }

  .navbar .title-container .mobile-toggle .line {
    background-color: #000;
    width: 30px;
    height: 4px;
  }

  .navbar .nav-container {
    background-color: var(--nav-bg-color);
    transform: translateX(-1000px);
    padding: 20px;
    width: 100%;
    height: 0;
    gap: 10px;
    flex-direction: column;

    transition: all 0.35s ease-in-out;
  }

  .navbar .nav-container .nav-items {
    width: 100%;
    text-align: center;
  }

  .navbar .nav-container.active {
    height: 100%;
    transform: translateX(0);

    transition: all 0.35s ease-in-out;
  }
}

@media (max-width: 625px) {
  .navbar .nav-container .nav-items {
    font-size: 1.2rem;
  }
}

@media (hover: none) {
  .navbar .nav-container .nav-items a:hover {
    color: var(--nav-text-color);
    transform: translateY(0) scale(1);

    transition: all 0.15s ease-in-out;
  }

  .navbar .nav-container .nav-items a:active {
    display: inline-block;
    transform: translateY(0) scale(1);

    transition: all 0.15s ease-in-out;
  }
}
