.error-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 2rem;
  width: 90%;
  padding: 100px 10px;
  color: var(--error-text-color);
}

.error-container .return-home {
  border: 2px solid var(--error-border-color);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--error-button-bg-color);
  padding: 6px 0;
  font-weight: 600;
}
